<!DOCTYPE html>

{{#> common/body
    title=pages.contacts.pageTitle
    class="contacts"
}}

{{> layout/header title='pages.contacts.title'}}

<main class="main">
    <div class="container">
        {{> common/breadcrumbs items=pages.contacts.breadcrumbs}}
        <h2 class="title contacts__title"><span class="title_highlighted contacts__title_highlighted">{{pages.contacts.title-highlighted}}</span>{{pages.contacts.title}}</h2>

        <div class="contacts__cols cols">
            <div class="contacts__main cols__main">
                <h4 class="content__subtitle content__subtitle_tight">Основными направлениями компании ООО «МеталлИнвест» является оптово-розничная поставка черного металлопроката и проката из нержавеющих сталей крупным и мелким предприятиям, а также частным лицам на всей территории России. Филиалы ООО «МеталлИнвест» расположены в городах: </h4>
                <ul class="content__list">
                    <li class="content__item">Филиал в <a href="#" class="content__link">Красноярске</a></li>
                    <li class="content__item">Филиал в <a href="#" class="content__link">Иркутске</a></li>
                    <li class="content__item">Филиал в <a href="#" class="content__link">Москве</a></li>
                </ul>
                <p class="content__text">Стоит отметить, что основные складские площади, крупнейшие производственные и металлообрабатывающие цеха, большой автопарк  больших и малых грузовых автомобилей, а также головной офис нашей компании территориально расположены в г. Красноярске.</p>
                <h4 class="content__subtitle">Адреса офиса и складов ООО «МеталлИнвест» в Красноярске:</h4>
                <ul class="content__list contacts__list contacts__list_address">
                    <li class="content__item">Головной офис компании: <span class="content__item_bold">г. Красноярск, Северное шоссе 11/2</span></li>
                    <li class="content__item">Склад металлопроката №1:  <span class="content__item_bold">г. Красноярск, Северное шоссе 17д</span></li>
                    <li class="content__item">Склад металлопроката №2:  <span class="content__item_bold">г. Красноярск, Северное шоссе 11</span></li>
                </ul>
                <h4 class="content__subtitle">Контактные телефоны в Красноярске:</h4>
                <ul class="content__list contacts__list contacts__list_phone">
                    <li class="content__item">Отдел продаж (опт, розница): <a href="tel:+73912167233" class="content__item_bold">+7 (391) 216-72-33</a>;</li>
                    <li class="content__item">Тел./Факс: <a href="tel:+73912180300" class="content__item_bold">+7 (391) 2-180-300</a>.</li>
                </ul>
                <h4 class="content__subtitle">Адреса офиса и складов ООО «МеталлИнвест» в Красноярске:</h4>
                <ul class="content__list contacts__list contacts__list_mail">
                    <li class="content__item">По вопросам закупок металла: <a href="mailto:sales@metall-in.ru" class="content__item_bold">sales@metall-in.ru</a>;</li>
                    <li class="content__item">Отдел маркетинга (по вопросам PR и маркетинга): <a href="mailto:marketing@metall-in.ru" class="content__item_bold">marketing@metall-in.ru</a>;</li>
                    <li class="content__item">Отдел маркетинга (по вопросам PR и маркетинга): <a href="mailto:marketing@metall-in.ru" class="content__item_bold">marketing@metall-in.ru</a>;</li>
                </ul>
            </div>

            <aside class="contacts__sidebar cols__sidebar">
                {{> form-contact/index}}

                <div class="contacts__requisites"><span class="contacts__requisites_bold">Реквизиты</span>ОГРН 1152468014885</div>
                <div class="contacts__certificates">
                    <p class="contacts__certificates__text">Свидетельства о государственной регистрации и постановке на учет в налоговой службе ООО «МеталлИнвест-Сибирь»</p>
                    <div class="contacts__certificates__gallery">
                        <img src="" alt="" class="contacts__certificates__image">
                        <img src="" alt="" class="contacts__certificates__image">
                    </div>
                </div>
            </aside>
        </div>

        <div class="contacts__map"></div>

    

    </div>

</main>

{{> layout/footer}}
{{/common/body}}