<!DOCTYPE html>

{{#> common/body
    title=pages.contacts.pageTitle
    class="contacts"
}}

{{> layout/header title='pages.contacts.title'}}

<main class="main">
    <div class="container">
        {{> common/breadcrumbs items=pages.contacts.breadcrumbs}}
        <h2 class="title contacts__title"><span class="title_highlighted contacts__title_highlighted">{{pages.contacts.title-highlighted}}</span>{{pages.contacts.title}}</h2>

        <div class="contacts__cols cols">
            <div class="contacts__main cols__main">
                <h4 class="content__subtitle">Нашим партнерам можно доверять:  мы сотрудничаем с надежными транспортными компаниями и крупнейшими заводами металлопроката</h4>
                <p class="content__text">Компания «МеталлИнвест» сотрудничает только с проверенными поставщиками металла и металлопроката. Мы не закупаем сомнительного качества металлопрокат оптом, а, организуя доставку, сотрудничаем только с надежными транспортными компаниями, которые соблюдают сроки отгрузки и требования транспортировки металлоизделий.</p>
                <h4 class="content__subtitle">Сотрудничаем сразу с несколькими заводами, что снижает вероятность срыва поставок</h4>
                <p class="content__text">Риск внезапной отмены поставок есть всегда, поэтому мы сотрудничаем сразу с несколькими производителями, выбирая тот завод, который находится ближе к заказчику. Так, трубный металлопрокат в розницу и оптом по наиболее выгодным ценам нам отгружают Королёвский, Альтемьевский, Северский трубные заводы. Так же мы сотрудничаем с Ашинским заводом, заводами «Мечел», «ММК», «Евраз», «ЧТПЗ» и другими.</p>
                <ul class="content__list">
                    <li class="content__item">широкий сортамент продукции;</li>
                    <li class="content__item">широкий сортамент продукции;</li>
                </ul>
                <p class="content__text">Звоните в «МеталлИнвест», наш коллектив выполнит задачи любой сложности и любых объемов, наличие цехов и завода металлоизделий на территории Красноярска позволяют нам предлагать лучшие условия, низкие цены и все типы металлоизделий.</p>
                <ul class="content__list">
                    <li class="content__item">широкий сортамент продукции;</li>
                    <li class="content__item">широкий сортамент продукции;</li>
                </ul>
                <p class="content__text"><a href="#" class="content__link">Звоните</a> в «МеталлИнвест», наш коллектив выполнит задачи любой сложности и любых объемов, наличие цехов и завода металлоизделий на территории Красноярска позволяют нам предлагать лучшие условия, низкие цены и все типы металлоизделий.</p>
                
                <div class="contacts__quote">
                    <p class="content__text">«МеталлИнвест» - серьезная компания, которая соединила в себе все плюсы оптового поставщика металлопроката и транспортно-логистического центра. Наших ресурсов достаточно, чтобы выполнить заказ любого объема и обеспечить ваше предприятие металлопрокатом.</p>
                    <p class="contacts__quote__text">Не только мы выбираем крупных поставщиков, но и многие крупные компании - выбирают нас! «МеталлИнвест» - надежный партнер!</p>
                </div>
            </div>

            <aside class="contacts__sidebar cols__sidebar">
                {{> form-contact/index}}
            </aside>
        </div>

    

    </div>

</main>

{{> layout/footer}}
{{/common/body}}