<!DOCTYPE html>

{{#> common/body
    title=pages.favourites.pageTitle
    class="favourites"
}}

{{> layout/header title='pages.favourites.title'}}

<main class="main">
    <div class="container">
        {{> common/breadcrumbs items=pages.favourites.breadcrumbs}}
        <h2 class="title favourites__title">{{pages.favourites.title}}<span class="title_highlighted favourites__title_highlighted">{{pages.favourites.title-highlighted}}</span></h2>

        <div class="favourites__list">

            {{#each components}}
                {{> card/item}}
            {{/each}}
        </div>

        {{> common/pagination}}
    </div>


</main>

{{> layout/footer}}
{{/common/body}}