// Colors
$primary: #30487e;
$secondary: #4878d3;
$btn: #4c6dbb;
$btn-hover: #4766ae;
$btn-disabled: #c2cadd;
$grey-bg: #edecf2;
$white: #fff;
$grey-dark: #7f7f96;
$grey-light: #9a9aab;
$text-main: #141425;
$text-secondary: #4a4a5f;
$danger: #eb3f3f;
$succes: #48d3a9;
$info: #7b9ee0;
$warning: #ee8b67;
