@use '~/styles/colors';

.catalog {
  .main {
    padding-bottom: 200px;
    position: relative;

    &::before {
      background-image: url('../img/art-catalog.svg');
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
      bottom: 0;
      content: '';
      height: 180px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  // &__menu {}

  &__list {
    border-bottom: 1px solid #c9c7cf;
    border-top: 1px solid #c9c7cf;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    &__item {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;

      & + ._active {
        .catalog__list__left,
        .catalog__list__right {
          display: block;
        }
      }
    }

    &__left,
    &__middle,
    &__right {
      max-width: 33.3%;
      width: 100%;
    }

    &__left,
    &__right {
      display: none;
      height: 100%;
      position: absolute;
      top: 0;
    }

    &__left {
      left: 0;
    }

    &__middle {
      align-items: center;
      border: 1px solid #c9c7cf;
      display: flex;
      flex-wrap: nowrap;
      left: 33.3%;
      position: relative;
    }

    &__right {
      left: 66.6%;
    }
  }

  &__image {
    height: 100%;
    max-height: 450px;
    object-fit: contain;
  }

  &__name {
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    position: relative;
    text-transform: uppercase;
  }

  &__numb {
    color: colors.$grey-bg;
    font-size: 64px;
    font-weight: 800;
    line-height: 82px;
    margin-right: 28px;
  }

  &__sublist {
    max-height: 100%;
    overflow-y: scroll;

    &__link {
      // line-height: 26px;
      color: colors.$text-main;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
