<!DOCTYPE html>

{{#> common/body
    title=pages.catalog.pageTitle
    class="catalog"
}}

{{> layout/header title='pages.catalog.title'}}

<main class="main">
    <div class="container">
        {{> common/breadcrumbs items=pages.catalog.breadcrumbs}}
        <h1 class="title catalog__title">{{pages.catalog.title}}<span class="title_highlighted catalog__title_highlighted">{{pages.catalog.title-highlighted}}</span></h1>
        <div class="catalog__menu">
            <ul class="catalog__list">
                <li class="catalog__list__item">
                    <div class="catalog__list__left">
                        <img src="img/content/card1.png" alt="" class="catalog__image">
                    </div>
                    <div class="catalog__list__middle">
                        <p class="catalog__numb">01</p>
                        <a class="catalog__name" href="">Металлопрокат</a>
                    </div>
                    <div class="catalog__list__right">
                        <ul class="catalog__sublist">
                            <li class="catalog__sublist__item">
                                <a href="#" class="catalog__sublist__link">1</a>
                            </li>
                            <li class="catalog__sublist__item">
                                <a href="#" class="catalog__sublist__link">2</a>
                            </li>
                            <li class="catalog__sublist__item">
                                <a href="#" class="catalog__sublist__link">3</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="catalog__list__item _active">
                    <div class="catalog__list__left">
                        <img src="img/content/card2.png" alt="" class="catalog__image">
                    </div>
                    <div class="catalog__list__middle">
                        <p class="catalog__numb">02</p>
                        <a class="catalog__name" href="">Что-то ещё</a>
                    </div>
                    <div class="catalog__list__right">
                        <ul class="catalog__sublist">
                            <li class="catalog__sublist__item">
                                <a href="#" class="catalog__sublist__link">4</a>
                            </li>
                            <li class="catalog__sublist__item">
                                <a href="#" class="catalog__sublist__link">5</a>
                            </li>
                            <li class="catalog__sublist__item">
                                <a href="#" class="catalog__sublist__link">6</a>
                            </li>
                            <li class="catalog__sublist__item">
                                <a href="#" class="catalog__sublist__link">4</a>
                            </li>
                            <li class="catalog__sublist__item">
                                <a href="#" class="catalog__sublist__link">5</a>
                            </li>
                            <li class="catalog__sublist__item">
                                <a href="#" class="catalog__sublist__link">6</a>
                            </li>
                            <li class="catalog__sublist__item">
                                <a href="#" class="catalog__sublist__link">4</a>
                            </li>
                            <li class="catalog__sublist__item">
                                <a href="#" class="catalog__sublist__link">5</a>
                            </li>
                            <li class="catalog__sublist__item">
                                <a href="#" class="catalog__sublist__link">6</a>
                            </li>
                            <li class="catalog__sublist__item">
                                <a href="#" class="catalog__sublist__link">4</a>
                            </li>
                            <li class="catalog__sublist__item">
                                <a href="#" class="catalog__sublist__link">5</a>
                            </li>
                            <li class="catalog__sublist__item">
                                <a href="#" class="catalog__sublist__link">6</a>
                            </li>
                            <li class="catalog__sublist__item">
                                <a href="#" class="catalog__sublist__link">4</a>
                            </li>
                            <li class="catalog__sublist__item">
                                <a href="#" class="catalog__sublist__link">5</a>
                            </li>
                            <li class="catalog__sublist__item">
                                <a href="#" class="catalog__sublist__link">6</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="catalog__list__item">
                    <div class="catalog__list__left">
                        <img src="img/content/card1.png" alt="" class="catalog__image">
                    </div>
                    <div class="catalog__list__middle">
                        <p class="catalog__numb">03</p>
                        <a class="catalog__name" href="">Какое-то очень длинное название из нескольких больших слов</a>
                    </div>
                    <div class="catalog__list__right">
                        <ul class="catalog__sublist">
                            <li class="catalog__sublist__item">
                                <a href="#" class="catalog__sublist__link">7</a>
                            </li>
                            <li class="catalog__sublist__item">
                                <a href="#" class="catalog__sublist__link">8</a>
                            </li>
                            <li class="catalog__sublist__item">
                                <a href="#" class="catalog__sublist__link">9</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>


</main>

{{> layout/footer}}
{{/common/body}}