@use '~/styles/colors';

.footer {
  background: url('../img/bg-footer_1.svg') 0 0 no-repeat, url('../img/bg-footer_2.svg') 43% 100% no-repeat;
  background-color: #1d1d29;
  min-height: 100vh;
  overflow-x: hidden;

  .container {
    display: flex;
  }

  &__left,
  &__right {
    min-height: 100vh;
    padding: 60px 0 50px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    padding-right: 25px;
    width: 60%;
  }

  &__right {
    background-color: #14141f;
    display: flex;
    justify-content: center;
    position: relative;
    width: 40%;

    &::after {
      background-color: #14141f;
      bottom: 0;
      content: '';
      left: 100%;
      position: absolute;
      top: 0;
      width: 100vw;
    }

    &__container {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      max-width: 75%;
      text-align: center;
    }
  }

  &__logo {
    border-bottom: 0.2px solid colors.$white;
    padding-bottom: 36px;
  }

  &__menu {
    // flex-grow: 1;
    display: flex;

    &__col {
      display: flex;
      flex-direction: column;
      width: 33.3%;

      & + .footer__menu__col {
        padding-left: 40px;
      }
    }

    &__title {
      color: colors.$white;
      font-size: 30px;
      font-weight: 600;
      line-height: 38px;

      &_link {
        &:hover {
          color: #4878d3;
          text-decoration: underline;
        }
      }

      & + .footer__menu__list {
        margin-top: 44px;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
    }

    &__item {
      color: colors.$white;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.33;
      transition: color 0.3s ease;

      &:hover {
        color: #4878d3;
        text-decoration: underline;
      }

      & + .footer__menu__item {
        margin-top: 24px;
      }
    }
  }

  &__menu,
  &__decor {
    margin: 36px 0;
  }

  &__bottom {
    border-top: 0.2px solid colors.$white;
    color: #75757b;
    display: flex;
    justify-content: space-between;
    padding-top: 26px;

    &__copyright,
    &__confidentiality,
    &__term {
      color: #75757b;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.7;
    }

    &__confidentiality,
    &__term {
      transition: color 0.3s ease;

      &:hover {
        color: #fff;
      }
    }
  }

  &__widget {
    display: block;
    margin-bottom: 58px;
    width: fit-content;
  }

  &__text {
    color: colors.$white;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.03em;
    line-height: 1.5;
    margin: 0 auto 60px;
    max-width: 500px;
  }

  &__btn {
    height: 60px;
    margin-bottom: 44px;
    width: 100%;
  }

  &__contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 68px;
    width: 100%;

    &__link {
      color: colors.$white;
      font-size: 20px;

      // font-family: 'Commissioner';
      font-weight: 400;
      letter-spacing: 0.03em;
      line-height: 24px;
      position: relative;

      &:hover {
        color: #4878d3;
      }

      &::before {
        content: '';
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      &_phone {
        padding-left: 36px;

        &::before {
          background-image: url('../img/icon-phone_filled.svg');
          height: 16px;
          width: 16px;
        }
      }

      &_email {
        padding-left: 30px;

        &::before {
          background-image: url('../img/icon-mail.svg');
          height: 13px;
          width: 17px;
        }
      }
    }
  }

  &__made-by {
    &__logo {
      display: block;
    }
  }
}
