<footer class="footer">
    <div class="container">
        <div class="footer__left">
            <a class="footer__logo logo" href="all.html">
                <img src="img/logo.svg" alt="metall-invest" class="logo__image">
            </a>

            <div class="flex-separator"></div>

            <div class="footer__menu">
                <div class="footer__menu__col">
                    <p class="footer__menu__title">Заголовок</p>
                    <div class="footer__menu__list">
                        <a href="" class="footer__menu__item">111</a>
                        <a href="" class="footer__menu__item">222</a>
                        <a href="" class="footer__menu__item">222</a>
                        <a href="" class="footer__menu__item">222</a>
                        <a href="" class="footer__menu__item">222</a>
                        <a href="" class="footer__menu__item">222</a>
                        <a href="" class="footer__menu__item">222</a>

                    </div>
                </div>
                <div class="footer__menu__col">
                    <p class="footer__menu__title">Заголовок2</p>
                    <div class="footer__menu__list">
                        <a href="" class="footer__menu__item">333</a>
                        <a href="" class="footer__menu__item">444</a>
                    </div>
                    <div class="flex-separator"></div>
                    <a href="" class="footer__menu__title footer__menu__title_link">Заголовок-ссылка</a>
                </div>
                <div class="footer__menu__col">
                    <p class="footer__menu__title">Заголовок3</p>
                    <div class="footer__menu__list">
                        <a href="" class="footer__menu__item">555</a>
                        <a href="" class="footer__menu__item">666</a>
                    </div>
                </div>
            </div>

            <div class="flex-separator"></div>

            <img src="img/art-footer.svg" alt="decor" class="footer__decor">
            <div class="footer__bottom">
                <p class="footer__bottom__copyright">© 2022 МеталлИнвест. Все права защищены</p>
                <a href="" class="footer__bottom__confidentiality">Политика конфиденциальности</a>
                <a href="" class="footer__bottom__term">Пользовательское соглашение</a>
            </div>
        </div>
        <div class="footer__right">
            <img src="img/example-footer.png" alt="" class="footer__widget">
            <p class="footer_text">Свяжитесь с нами, любым удобным для Вас способом и мы расскажем Вам подробнее о нас и наших услугах</p>
            <button class="footer_btn btn btn_normal btn_dark">Заказать звонок</button>
            <div class="footer__contacts">
                <a href="" class="footer__contacts__link footer__contacts__link_phone"></a>
                <a href="" class="footer__contacts__link footer__contacts__link_email"></a>
            </div>
        </div>
    </div>

</footer>
