<header class="header header_light">

    <div class="container">
        <div class="header_desktop">
            <div class="header__menu">
                <button class="header__menu__btn">
                    <span class="header__menu__line"></span>
                </button>
            </div>
            <a class="header__logo logo" href="all.html">
                <img src="{{common.header.logo}}" alt="metall-invest" class="logo__image">
            </a>
            {{> search/index}}
            <div class="header__control">
                <button class="header__favorites btn btn_round">
                    <img src="img/icon-like.svg" alt="favorites" class="btn__icon">
                </button>
                <button class="header__contact btn btn_round">
                    <img src="img/icon-phone.svg" alt="phone" class="btn__icon">
                </button>
            </div>
            <a href="tel:{{common.header.phone-link}}" class="header__phone">{{common.header.phone}}</a>
            <button class="header__call btn btn_normal btn_dark">{{common.header.btn}}</button>
        </div>
    </div>
</header>