@use '~/styles/colors';

.header {
  &_desktop {
    align-items: center;
    display: flex;
    padding: 20px 0;
    width: 100%;
  }

  &__menu {
    &__btn {
      background-color: transparent;
      border: none;
      cursor: pointer;
      height: 60px;
      position: relative;
      width: 60px;

      &:hover {
        .header__menu__line::after {
          left: 50%;
        }
      }
    }

    &__line {
      //   background-color: colors.$white;
      display: block;
      height: 3px;
      left: 0;
      position: absolute;
      top: 20px;
      transition: all 0.5s ease;
      width: 100%;

      &::after {
        // background-color: colors.$white;
        content: '';
        height: 3px;
        left: 0;
        position: absolute;
        top: 11px;
        transition: all 0.3s ease;
        width: 50%;
      }
    }
  }

  &__logo {
    margin-left: 38px;
  }

  .search {
    // min-width: 700px;
    flex-grow: 1;
    margin: 0 50px;
  }

  &__control {
    display: flex;

    .btn_round {
      // backdrop-filter: blur(50px);
      transition: background-color 0.3s ease;

      & + .btn_round {
        margin-left: 32px;
      }
    }
  }

  &__phone {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.3;
    margin: 0 12px;
  }

  &__call {
    background-color: colors.$btn;
    color: colors.$white;
    height: 58px;
    margin-left: 12px;
    padding: 0 30px;

    // transition: background-color 0.3s ease;

    &:hover {
      background-color: colors.$btn-hover;
    }
  }

  // БЕЛОЕ МЕНЮ
  &_dark {
    .header__menu__line {
      background-color: colors.$white;

      &::after {
        background-color: colors.$white;
      }
    }

    .search {
      &__input {
        background-color: rgba(colors.$white, 0.4);
        color: colors.$white;

        &::placeholder {
          color: colors.$white;
        }
      }
    }

    .btn_round {
      background-color: rgb(76 110 189 / 0.4);

      &:hover {
        background-color: rgb(76 110 189 / 0.6);
      }
    }

    .header__phone {
      color: colors.$white;
    }
  }

  // ТЁМНОЕ МЕНЮ
  &_light {
    background-color: colors.$white;
    border-bottom: 1px solid #ccccd5;
    color: colors.$white;

    .header__menu__line {
      background-color: colors.$primary;

      &::after {
        background-color: colors.$primary;
      }
    }

    .search {
      &__input {
        background-color: colors.$grey-bg;

        // background-color: rgb(237 236 242 / 0.4);
        color: colors.$primary;

        &::placeholder {
          color: colors.$grey-dark;
        }
      }
    }

    .btn_round {
      background-color: rgb(220 218 230 / 0.4);

      &:hover {
        background-color: rgb(220 218 230 / 0.6);
      }
    }

    .header__phone {
      color: colors.$primary;
    }
  }
}
