@use '~/styles/colors';

.team__item {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  position: relative;

  &:hover {
    .team__item__image__second {
      opacity: 1;
    }

    .team__item__btn {
      opacity: 1;
    }
  }

  &__image {
    border-radius: 5px;
    margin-bottom: 54px;
    overflow: hidden;
    position: relative;

    // &__first {
    //     background: linear-gradient(0deg, rgba(16, 15, 26, 0.2), rgba(16, 15, 26, 0.2));
    // }

    &__second {
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: opacity 0.3s ease;
    }

    &__first,
    &__second {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  &__btn {
    background-color: rgb(74 74 95 / 0.2);
    border-radius: 100%;
    height: 58px;
    opacity: 0;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 58px;

    &:hover {
      background-color: colors.$primary;
    }

    &::before {
      background-image: url('../img/icon-arrow_big_white.svg');
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      height: 16px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 16px;
    }
  }

  &__title {
    color: colors.$text-secondary;
    font-weight: 600;
    letter-spacing: 0.03em;
    line-height: 28px;
  }

  &__description {
    display: none;
  }

  & + .team__item_active {
    .team__image {
      transform: scale(0.8);
      transform-origin: left top;
    }

    .team__description {
      display: block;
    }
  }
}
