@use '~/styles/colors';

.main-page {
  .header_desktop {
    height: 100px;
    left: 50%;
    max-width: 1780px;
    position: absolute;
    top: 0;
    transform: translate(-50%);
    z-index: 1;
  }

  .section {
    min-height: 100vh;
    padding-top: 100px;

    &__head {
      display: flex;
      justify-content: space-between;
    }
  }

  .primary {
    background-color: colors.$primary;
    background-image: linear-gradient(111.31deg, #4a6cba -0.2%, #21345e 71.72%);
    position: relative;

    &::before {
      background-image: url('../img/art-primary.png');
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 117px;
    }
  }

  .production {
    position: relative;

    &::before {
      background-image: url('../img/art-production.png');
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
      bottom: 0;
      content: '';
      display: block;

      /* height: 278px; */
      height: 200px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
    }
  }

  .advantages {
    background-color: #30487e;
    background-image: linear-gradient(180deg, rgba(0, 10, 82, 0.15) 17.84%, rgba(10, 21, 48, 0.72) 89.77%);
    mix-blend-mode: multiply;
    position: relative;

    @keyframes ticker {
      from {
        background-position-x: 0;
      }

      to {
        background-position-x: 200%;
      }
    }

    &__title {
      color: colors.$white;
      text-align: center;
    }

    &__list {
      margin-bottom: 38px;
    }

    &__ticker {
      animation: ticker 5s linear infinite;
      background-image: url('../img/art-advantages_ticker_.png');
      background-position-y: bottom;
      background-repeat: repeat-x;
      background-size: 200%;
      bottom: 0;
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  .map {
    background-color: #4a4a5f;
    background-image: url('../img/bg-map.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;

    &__item {
      background-color: #4878d3;
      border-radius: 100%;
      height: 10px;
      position: absolute;
      width: 10px;

      &_krsk {
        left: 53%;
        top: 40%;
      }

      &_irk {
        left: 63%;
        top: 46%;
      }
    }

    &__routes {
      bottom: 46%;
      left: 53%;
      position: absolute;
      right: 63%;
      top: 40%;
    }
  }
}
