<!DOCTYPE html>

{{#> common/body
    title=pages.index.pageTitle
    class="main-page"
}}
    {{> layout/header title='pages.index.title'}}

    <main class="main">
        hello metall invest
    </main>

    {{> layout/footer}}
{{/common/body}}