<!DOCTYPE html>

{{#> common/body
    title=pages.index.pageTitle
    class="main-page"
}}

{{> layout/header title='pages.index.title'}}

<main class="main">
    <section class="main__primary main__section">
        <div class="container">
            <div class="main__content">
                <h1 class="title">Металлопрокат в Красноярске </h1>
                <ul class="main__list content__list">
                    <li class="main__item content__item">продажа, производство металлоизделий</li>
                    <li class="main__item content__item">услуги металлообработки</li>
                </ul>
            </div>
            <div class="main__slider"></div>
            <div class="main__widget"></div>
            <button class="main__scroll"></button>

        </div>
    </section>
</main>

{{> layout/footer}}
{{/common/body}}