@use '~/styles/colors';

.main-page {
  .header_desktop {
    height: 100px;
    left: 50%;
    max-width: 1780px;
    position: fixed;
    top: 0;
    transform: translate(-50%);
    z-index: 1;
  }

  .section {
    min-height: 100vh;
    padding-top: calc(100px + 82px);

    &__head {
      display: flex;
      justify-content: space-between;
    }

    &__blockquote {
      color: #4a4a5f;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.4;
      max-width: 966px;
      padding: 0 68px;

      // font-family: 'Mont';
    }
  }

  .primary {
    background-color: colors.$primary;
    background-image: linear-gradient(111.31deg, #4a6cba -0.2%, #21345e 71.72%);

    &::before {
      background-image: url('../img/art-primary.png');
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 117px;
    }

    &__item {
      color: colors.$white;
      font-size: 26px;
      font-weight: 600;
      line-height: 33px;
      margin-bottom: 25px;
      padding-left: 36px;

      &::before {
        background-color: colors.$white;
        border-radius: 100%;
        left: 0;
        top: 12px;
      }
    }

    &__bottom {
      bottom: 68px;
      height: 62px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 100%;
    }

    &__scroll {
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 70px;
      cursor: pointer;
      height: 50px;
      left: 50%;
      position: relative;
      top: 12px;
      transform: translateX(-50%);
      width: 30px;

      &:hover {
        &::before {
          transform: translate(-50%, 24px);
        }
      }

      &::before {
        background-color: rgba(255, 255, 255, 0.4);
        border: none;
        border-radius: 100%;
        content: '';
        height: 6px;
        left: 50%;
        position: absolute;
        top: 10px;
        transform: translate(-50%, 0);
        transition: transform 0.5s ease;
        width: 6px;
      }
    }
  }

  .production {
    &::before {
      background-image: url('../img/art-production.png');
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
      bottom: 0;
      content: '';
      display: block;

      /* height: 278px; */
      height: 200px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    .section__head {
      margin-bottom: 66px;
    }

    .section__title {
      margin-bottom: 0;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
    }
  }

  .advantages {
    background-color: #30487e;
    background-image: linear-gradient(180deg, rgba(0, 10, 82, 0.15) 17.84%, rgba(10, 21, 48, 0.72) 89.77%);
    mix-blend-mode: multiply;

    @keyframes ticker {
      from {
        background-position-x: 0;
      }

      to {
        background-position-x: 200%;
      }
    }

    &__title {
      color: colors.$white;
      text-align: center;
    }

    &__list {
      margin-bottom: 38px;
    }

    &__ticker {
      animation: ticker 8s linear infinite;
      background-image: url('../img/art-advantages_ticker_.png');
      background-position-y: bottom;
      background-repeat: repeat-x;
      background-size: 200%;
      bottom: 0;
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: -1;
    }
  }

  .team {
    background-color: #edecf2;

    .section__head {
      margin-bottom: 24px;
    }

    .section__title {
      margin-bottom: 0;
    }

    &__list {
      display: flex;
    }

    &__item {
      // width: 22.22%;
      width: 20%;
    }
  }

  .partners {
    &::before {
      background-image: url('../img/art-partners.svg');
      background-position-x: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  .map {
    background-color: #4a4a5f;
    background-image: url('../img/bg-map.png');
    background-repeat: no-repeat;
    background-size: contain;

    &__title,
    &__blockquote {
      color: colors.$white;
    }

    &__item {
      background-color: #4878d3;
      border-radius: 100%;
      height: 10px;
      position: absolute;
      width: 10px;

      &_krsk {
        left: 53%;
        top: 40%;
      }

      &_irk {
        left: 63%;
        top: 46%;
      }
    }

    &__routes {
      bottom: 46%;
      left: 53%;
      position: absolute;
      right: 63%;
      top: 40%;
    }
  }
}
