<a class="card" href="">
    <div class="card__wrapper">
        <img src="img/content/card1.png" alt="" class="card__image">
        <button class="card__btn-favourite btn btn_round">
            <span class="card__btn-favourite__hidden">Добавить в избранное</span>
        </button>
    </div>
    <div class="card__description">
        <p class="card__name">name</p>
        <p class="card__parameter">text</p>
        <p class="card__price">от 61 000</p>
        <button class="card__btn-more btn btn_dark">Подробнее</button>
    </div>
</a>