@use '~/styles/colors';

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  max-width: 25%;
  padding: 0 14px;
  width: 100%;

  &:hover {
    .card__container {
      background-color: colors.$white;
    }

    .card__image {
      width: 60%;
    }

    .card__price {
      display: inline-block;
    }

    .card__btn-more {
      display: block;
    }
  }

  &__container {
    background-color: transparent;
    border: 1px solid rgb(127 127 150 / 0.2);
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s ease;
  }

  &__wrapper {
    background: colors.$white;
    border-radius: 10px;
    margin-bottom: 24px;
    padding: 26px 10px;
    position: relative;
  }

  &__image {
    width: 100%;
  }

  &__btn-favorite {
    background-color: #f8f8fa;
    color: colors.$white;
    display: block;
    font-size: 14px;
    font-weight: 800;
    height: 40px;
    line-height: 18px;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 40px;

    &::before {
      background-image: url('../img/icon-favorite.svg');
      background-repeat: no-repeat;
      content: '';
      height: 20px;
      position: absolute;
      right: 9px;
      top: 50%;
      transform: translateY(-50%);
      width: 22px;
    }

    &:hover {
      background: colors.$secondary;
      border-radius: 20px;
      padding-left: 12px;
      padding-right: 36px;
      transition: border 0s ease;
      width: fit-content;

      // &::before {}

      .card__btn-favorite__hidden {
        display: block;
        opacity: 1;
      }
    }

    &__hidden {
      display: none;
      opacity: 0;
      transition: opacity 0.2s ease;
    }
  }

  &__description {
    padding: 0 6px;
  }

  &__name,
  &__parameter {
    color: #4a4a5f;
    font-size: 18px;
    line-height: 1.5;
  }

  &__name {
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__parameter {
    font-weight: 700;
    margin-bottom: 26px;
  }

  &__price,
  &__btn-more {
    display: none;
  }

  &__price {
    color: colors.$secondary;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.4;
    margin-bottom: 12px;
    padding-right: 20px;
    position: relative;

    &::before {
      color: inherit;
      content: '₽';
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__btn-more {
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 24px;
    padding: 0 10px;
    text-align: center;
    width: 100%;
  }
}
