<!DOCTYPE html>

<h1>Список всех страниц</h1>

<ul class="all__list">
    <li><a href="index.html">Главная</a></li>
    <li><a href="catalog.html">Каталог</a></li>
    <li><a href="subcatalog.html">Подкаталог</a></li>
    <li><a href="product.html">Деталка</a></li>
    <li><a href="about.html">История компании</a></li>
    <li><a href="favorites.html">Избранное</a></li>
    <li><a href="team.html">Сотрудники - среда</a></li>
    <li><a href="partners.html">Наши партнёры</a></li>
    <li><a href="career.html">Карьера</a></li>
    <li><a href="career-detail.html">Карьера деталка - вторник</a></li>
    <li><a href="delivery.html">Доставка - четверг</a></li>
    <li><a href="storages.html">Склады - четверг</a></li>
    <li><a href="contacts.html">Контакты - пятница</a></li>
</ul>
<p>Главная:</p>
<p>Каталог: добавить стили</p>
<p>Подкаталог: вывод сообщения о добавлении в избранное, пагинация</p>
<p>Деталка: кнопка "добавить в избранное"</p>
<p>История компании: добавить слайдер со стрелками и скроллом, картинку-текст над контентом</p>
<p>Избранное: Починить карточки, добавить удаление, вывод сообщения об удалении, раскрашивать сердечко</p>
<p>Сотрудники:</p>
<p>Партнёры: вынести блок с партнерами с главной в отдельный компонент и добавить на стр, арт вверху. карточки партнёров- ссылки с ховерами</p>
<p>Карьера: карусель</p>
<p>Карьера деталка: </p>
<p>Сотрудники:</p>
<p>Контакты: добавить реквизиты, попап, арт на фон, иконки в текст, вставить карту</p>


<style>
    .all__list a {
        font-size: 30px;
    }

    .hightlight {
        background-color: greenyellow;
    }
    .bugs {
        background-color: yellow;
    }
</style>