<!DOCTYPE html>

<h1>Список всех страниц</h1>

<ul class="all__list">
    <li><a href="index.html">Главная</a></li>
    <li><a href="catalog.html">Каталог</a></li>
    <li><a href="subcatalog.html">Подкаталог</a></li>
    <li><a href="product.html">Деталка</a></li>
    <li><a href="about.html">История компании - пятница</a></li>
    <li><a href="favorites.html">Избранное</a></li>
    <li><a href="team.html">Сотрудники - среда</a></li>
    <li><a href="partners.html">Наши партнёры - среда</a></li>
    <li><a href="career.html">Карьера - вторник</a></li>
    <li><a href="career-detail.html">Карьера деталка - вторник</a></li>
    <li><a href="delivery.html">Доставка - четверг</a></li>
    <li><a href="storages.html">Склады - четверг</a></li>
    <li><a href="cantacts.html">Контакты - пятница</a></li>
</ul>
<style>
    .all__list a {
        font-size: 30px;
    }

    .hightlight {
        background-color: greenyellow;
    }
    .bugs {
        background-color: yellow;
    }
</style>