<!DOCTYPE html>

<h1>Список всех страниц</h1>

<ul class="all__list">
    <li><a href="index.html">Главная</a></li>
</ul>
<style>
    .all__list a {
        font-size: 30px;
    }

    .hightlight {
        background-color: greenyellow;
    }
    .bugs {
        background-color: yellow;
    }
</style>