<!DOCTYPE html>

<h1>Список всех страниц</h1>

<ul class="all__list">
    <li><a href="index.html">Главная</a></li>
    <li><a href="catalog.html">Каталог</a></li>
    <li><a href="subcatalog.html">Подкаталог</a></li>
    <li><a href="product.html">Деталка</a></li>
    <li><a href="about.html">История компании</a></li>
    <li><a href="favorites.html">Избранное</a></li>
    <li><a href="team.html">Сотрудники</a></li>
    <li><a href="partners.html">Наши партнёры</a></li>
    <li><a href="career.html">Карьера</a></li>
    <li><a href="career-detail.html">Карьера деталка - ?</a></li>
    <li><a href="delivery.html">Доставка</a></li>
    <li><a href="storages.html">Склады - ?</a></li>
    <li><a href="contacts.html">Контакты</a></li>
</ul>
<p>Главная: гл.слайдер, карта, </p>
<p>Общее: хедер: добавить стили для тёмного/светлого. главное меню сверстать, добавить js для стрелок во всех каруселях, добавить стрелку на ховер на край стр в каруселях </p>

<p>Каталог: бордер на ховер/эктив</p>
<p>Подкаталог: вывод сообщения о добавлении в избранное, пагинация: стрелочки</p>
<p>Деталка: кнопка "добавить в избранное"</p>
<p>История компании: прилипание картинки при скролле, добавить картинку-арт над контентом</p>
<p>Избранное: Починить карточки, добавить удаление, вывод сообщения об удалении, раскрашивать сердечко</p>
<p>Сотрудники: стили карточки, отступ справа в карусели</p>
<p>Партнёры: арт вверху. карточки партнёров - ховеры, стилизация чекбокса в форме</p>
<p>Карьера: </p>
<p>Карьера деталка: </p>
<p>Доставка: готово?</p>
<p>Склады:</p>
<p>Контакты: попап, вставить карту, галлерею в свидетельства</p>


<style>
    .all__list a {
        font-size: 30px;
    }

    .hightlight {
        background-color: greenyellow;
    }
    .bugs {
        background-color: yellow;
    }
</style>