<div class="glide__slide partners__slide">
    {{!-- это слайд. 1 столбик 
    один столбик - 2 итема
    их выводится 4 на странице
    пролистывается на 2 столбика за раз --}}

    {{#each this.item}}
        <div class="partners__item">
            <img src="{{this.img}}" alt="" class="partners__item__image">
        </div>
    {{/each}}

</div>
