<!DOCTYPE html>

{{#> common/body
    title=pages.subcatalog.pageTitle
    class="subcatalog"
}}

{{> layout/header title='pages.subcatalog.title'}}

<main class="main">
    <div class="container">
        {{> common/breadcrumbs items=pages.subcatalog.breadcrumbs}}
        <h2 class="title subcatalog__title">{{pages.subcatalog.title}}<span class="title_highlighted subcatalog__title_highlighted">{{pages.subcatalog.title-highlighted}}</span></h2>

        <div class="subcatalog__filter">
            <div class="subcatalog__filter__list">
                <button class="subcatalog__filter__item">Aрматура А1, гладкая</button>
                <button class="subcatalog__filter__item">Арматура А3, рифленая</button>
                <button class="subcatalog__filter__item _active">Арматура А3, рифленая</button>
            </div>
        </div>
        <div class="subcatalog__list">

            {{#each components.cards}}
                {{> card/item data=this}}
            {{/each}}
        </div>

        {{> common/pagination}}
    </div>


</main>

{{> layout/footer}}
{{/common/body}}