<div class="search">
    <form action="search.html" class="search__form">
        <input class="search__input" type="text" id="search" name="search" placeholder="Поиск">
        <button class="search__btn" type="submit">
            <img class="icon-search" src="img/icon-search.svg" alt="search">
        </button>
    </form>
</div>