<div class="breadcrumbs">
    <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a class="breadcrumbs__item__link" href="#">{{pages.main-page.primary.title}}</a></li> 
        <li class="breadcrumbs__item"><a class="breadcrumbs__item__link" href="#">Университет</a></li>
        <li class="breadcrumbs__item"><a class="breadcrumbs__item__link" href="#">Подразделения</a></li>
        <li class="breadcrumbs__item">Новости общая</li>
    </ul>
</div>
{{!-- ??? --}}