<div class="breadcrumbs">
    <ul class="breadcrumbs__list">
        {{#each items as |item|}}
            {{#if item.link}}
                <li class="breadcrumbs__item"><a class="breadcrumbs__item__link" href="{{item.link}}">{{item.title}}</a></li> 
            {{else}}
                <li class="breadcrumbs__item">{{item.title}}</li> 
            {{/if}}
        {{/each}}
    </ul>
</div>
{{!-- ??? --}}