<div class="pagination">
    <button class="button btn_more btn_more_left"></button>
    <a class="pagination__page pagination__page_active" href="#">1</a>
    <a class="pagination__page" href="#">2</a>
    <a class="pagination__page" href="#">3</a>
    <a class="pagination__page" href="#">...</a>
    <a class="pagination__page" href="#">15</a>
    <a class="pagination__page" href="#">16</a>
    <button class="button btn_more btn_more_right"></button>
</div>