@use '~/styles/colors';
@import '~/styles/fonts';

* {
  box-sizing: border-box;
  font-family: Mont, sans-serif;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

body {
  // background-color: colors.$white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 360px;
  overflow-x: hidden;
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;

  // color: colors.$text-main;
  // font-weight: 600;
  margin: 0;
  padding: 0;
}

h1,
h1.title {
  font-size: 74px;
  line-height: 95px;

  //   @media (max-width: 991px) {
  //     font-size: 28px;
  //     line-height: 1.2;
  //   }

  //   @media (max-width: 767px) {
  //     font-size: 24px;
  //   }

  //   @media (max-width: 480px) {
  //     font-size: 20px;
  //   }
}

.title {
  &_highlighted {
    color: #4878d3;
    padding-left: 16px;
  }
}

h2,
h2.title {
  font-size: 42px;
  line-height: 54px;

  //   @media (max-width: 991px) {
  //     font-size: 26px;
  //     line-height: 1.2;
  //   }

  //   @media (max-width: 767px) {
  //     font-size: 24px;
  //   }

  //   @media (max-width: 480px) {
  //     font-size: 20px;
  //   }
}

h3 {
  font-size: 36px;
  line-height: 42px; // ???

  //   @media (max-width: 991px) {
  //     font-size: 20px;
  //     line-height: 1.2;
  //   }
  //   @media (max-width: 767px) {
  //     font-size: 18px;
  //   }
}

h4 {
  font-size: 24px;
  line-height: 30px; // ???
}

h5 {
  font-size: 22px;
  line-height: 30px; // ???
}

// h4,
// h5 {
//   @media (max-width: 767px) {
//     font-size: 16px;
//     line-height: 1.2;
//   }
// }

p {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px; // ???

  //   @media (max-width: 767px) {
  //     font-size: 14px;
  //     line-height: 1.4;
  //   }
}

.logo {
  display: block;

  &__image {
    display: block;
  }
}

.main {
  padding: 36px 0 120px;
}

.container {
  margin: 0 auto;
  max-width: 1880px;
  padding: 0 50px;
  width: 100%;

  // padding: 0 10px;

  @media (max-width: 1600px) {
    max-width: 1440px;
    padding: 0 20px;
  }

  // @media (max-width: 480px) {
  //   padding: 0 16px;
  // }
}

.content {
  &__item {
    margin-bottom: 14px;
    padding-left: 24px;
    position: relative;

    &::before {
      background-color: #4878d3;
      content: '';
      height: 10px;
      left: 0;
      position: absolute;
      width: 10px;
    }
  }
}

.btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 42px;
  text-align: center;
  transition: all 0.3s ease;
  white-space: nowrap;

  &_round {
    backdrop-filter: blur(50px); // ???
    border-radius: 100%;
    height: 40px;
    width: 40px;
  }

  &_normal {
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    padding: 0 24px;

    // mix-blend-mode: multiply;
  }

  &_light {
    background-color: #dcdae6;
    color: #30487e;

    &:hover {
      background-color: #30487e;
      color: colors.$white;
    }
  }

  &_dark {
    background-color: #4c6dbb;
    color: colors.$white;

    &:hover {
      background-color: #4766ae;
    }
  }

  &__icon {
    display: block;
    margin: 0 auto;
  }

  &_more {
    background-color: transparent;
    background-image: url('../img/icon-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    height: 23px;
    opacity: 0.8;
    position: relative;
    transition: opacity 0.3s ease;
    width: 14px;

    &:hover {
      opacity: 1;
    }

    &_right {
      transform: rotate(180deg);
    }
  }
}

.breadcrumbs {
  margin-bottom: 35px;

  &__list {
    white-space: nowrap;
  }

  &__item {
    color: #9a9aab;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-right: 12px;
    position: relative;
    text-transform: uppercase;

    + .breadcrumbs__item {
      padding-left: 24px;

      &::before {
        background-repeat: no-repeat;
        background-size: contain;
        color: #9a9aab;
        content: '/';
        height: 24px;
        left: 0;
        opacity: 0.4;
        position: absolute;
        top: 0;
        width: 11px;
      }
    }

    &__link {
      color: inherit;
      transition: color 0.3s ease;
    }

    &:hover {
      .breadcrumbs__item__link {
        color: #4878d3;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;

  &__page {
    background-color: transparent;
    border-radius: 5px;

    //   color: colors.$text-secondary;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    letter-spacing: 0.05em;
    line-height: 50px;
    margin: 0 5px;
    text-align: center;
    transition: all 0.3s ease;
    width: 50px;

    //   @media (max-width: 767px) {
    // 	font-size: 14px;
    // 	height: 40px;
    // 	line-height: 40px;
    // 	width: 40px;
    //   }

    &:hover,
    &:focus {
      // background-color: colors.$blue;
      color: colors.$white;
    }

    &_active,
    &_active:hover,
    &_active:focus {
      // background-color: colors.$orange;
      color: colors.$white;
    }
  }

  .button_more {
    border-radius: 5px;
    transition: all 0.3s ease;

    //   @media (max-width: 767px) {
    // 	height: 40px;
    // 	width: 40px;
    //   }

    &:hover {
      // background-color: colors.$orange;
      color: colors.$white;
    }

    &::after {
      height: 7px;
      width: 12px;
    }
  }
}

.section {
  position: relative;

  &__title {
    color: colors.$text-main;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 60px;
    white-space: nowrap;

    &_accent {
      color: colors.$secondary;
    }
  }
}

.flex-separator {
  flex-grow: 1;
}

.scrollbar {
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-color: #4878d3 #edecf2; // opacity 05
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    appearance: none;
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #4878d3;
    border-radius: 20px;
    box-shadow: none;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: #edecf2;
    border-radius: 20px;
    opacity: 0.5;
  }
}

.carousel {
  padding-top: 104px;
  position: relative;

  &__navigation {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__arrow {
    background-color: #dcdae6;
    height: 40px;
    position: relative;
    width: 40px;

    &::before {
      background-image: url('../img/icon-arrow_big.svg');
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      height: 9px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 14px;
    }

    &_left {
      &::before {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }
  }
}
