@use '~/styles/colors';
@import '~/styles/fonts';

* {
  box-sizing: border-box;
  font-family: Mont, sans-serif;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

body {
  // background-color: colors.$white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 360px;
  overflow-x: hidden;
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;

  // color: colors.$text-main;
  // font-weight: 600;
  margin: 0;
  padding: 0;
}

h1,
h1.title {
  font-size: 74px;
  line-height: 95px;
  margin-bottom: 60px;

  //   @media (max-width: 991px) {
  //     font-size: 28px;
  //     line-height: 1.2;
  //   }

  //   @media (max-width: 767px) {
  //     font-size: 24px;
  //   }

  //   @media (max-width: 480px) {
  //     font-size: 20px;
  //   }
}

.title {
  &_highlighted {
    color: colors.$secondary;
    padding-left: 12px;
  }
}

h2,
h2.title {
  font-size: 42px;
  line-height: 54px;
  margin-bottom: 60px;

  //   @media (max-width: 991px) {
  //     font-size: 26px;
  //     line-height: 1.2;
  //   }

  //   @media (max-width: 767px) {
  //     font-size: 24px;
  //   }

  //   @media (max-width: 480px) {
  //     font-size: 20px;
  //   }
}

h3 {
  font-size: 36px;
  line-height: 42px; // ???

  //   @media (max-width: 991px) {
  //     font-size: 20px;
  //     line-height: 1.2;
  //   }
  //   @media (max-width: 767px) {
  //     font-size: 18px;
  //   }
}

h4 {
  font-size: 24px;
  line-height: 30px; // ???
}

h5 {
  font-size: 22px;
  line-height: 30px; // ???
}

// h4,
// h5 {
//   @media (max-width: 767px) {
//     font-size: 16px;
//     line-height: 1.2;
//   }
// }

p {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px; // ???

  //   @media (max-width: 767px) {
  //     font-size: 14px;
  //     line-height: 1.4;
  //   }
}

.logo {
  display: block;

  &__image {
    display: block;
  }
}

.main {
  padding: 36px 0 120px;
}

.container {
  margin: 0 auto;
  max-width: 1880px;
  padding: 0 50px;
  width: 100%;

  // padding: 0 10px;

  @media (max-width: 1600px) {
    max-width: 1440px;
    padding: 0 20px;
  }

  // @media (max-width: 480px) {
  //   padding: 0 16px;
  // }
}

.cols {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;

  &__main {
    max-width: 75%;
    width: 100%;
  }

  &__sidebar {
    max-width: 25%;
    padding-left: 30px;
    position: relative;
    width: 100%;
  }

  &_wide {
    .cols__main {
      max-width: 66.6%;

      & + .cols__sidebar {
        padding-left: 86px;
        padding-right: 0;
      }
    }

    .cols__sidebar {
      max-width: 33.3%;
      padding-left: 0;
      padding-right: 86px;
    }
  }
}

.content {
  &__list {
    & + .content__subtitle {
      margin-top: 36px;
    }
  }

  &__item {
    padding-left: 24px;
    position: relative;

    &::before {
      background-color: colors.$secondary;
      content: '';
      height: 10px;
      left: 0;
      position: absolute;
      top: 8px;
      width: 10px;
    }
  }

  &__subtitle {
    color: colors.$text-main;
    margin-bottom: 28px;

    &_tight {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.3;
    }
  }

  &__text,
  &__item {
    color: colors.$text-secondary;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 18px;

    & + .content__subtitle {
      margin-top: 36px;
    }

    &_bold {
      color: #4a4a5f;
      font-weight: 800;
    }

    a.content__item_bold,
    a.content__text_bold {
      &:hover {
        color: #4878d3;
      }
    }
  }

  &__link {
    color: #30487e;
    text-decoration: underline;

    // font-weight: 800;
    // text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }
  }

  &__blockquote {
    align-items: center;
    background-color: #30487e;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
    padding: 23px;

    &__text {
      color: colors.$white;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.3;
      max-width: 80%;
      padding-left: 100px;
      position: relative;

      &::before {
        background-color: rgba(#4c6dbb, 0.4);
        border-radius: 100%;
        color: colors.$white;
        content: '?';
        font-size: 28px;
        font-weight: 800;
        height: 60px;
        left: 0;
        line-height: 60px;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
      }
    }
  }

  // &__quote {
  //   font-weight: 800;
  //   font-size: 24px;
  //   line-height: 1.5;
  //   color: #141425;
  // }
}

.btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 42px;
  text-align: center;
  transition: all 0.3s ease;
  white-space: nowrap;

  &_round {
    backdrop-filter: blur(50px); // ???
    border-radius: 100%;
    height: 40px;
    width: 40px;
  }

  &_normal {
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    padding: 0 24px;

    // mix-blend-mode: multiply;
  }

  &_light {
    background-color: #dcdae6;
    color: colors.$primary;

    &:hover {
      background-color: colors.$primary;
      color: colors.$white;
    }
  }

  &_dark {
    background-color: colors.$btn;
    color: colors.$white;

    &:hover {
      background-color: colors.$btn-hover;
    }
  }

  &__icon {
    display: block;
    margin: 0 auto;
  }

  &_more {
    background-color: transparent;
    background-image: url('../img/icon-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    height: 23px;
    opacity: 0.8;
    position: relative;
    transition: opacity 0.3s ease;
    width: 14px;

    &:hover {
      opacity: 1;
    }

    &_right {
      transform: rotate(180deg);
    }
  }
}

.breadcrumbs {
  margin-bottom: 35px;

  &__list {
    white-space: nowrap;
  }

  &__item {
    color: colors.$grey-light;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-right: 12px;
    position: relative;
    text-transform: uppercase;

    + .breadcrumbs__item {
      padding-left: 24px;

      &::before {
        background-repeat: no-repeat;
        background-size: contain;
        color: colors.$grey-light;
        content: '/';
        height: 24px;
        left: 0;
        opacity: 0.4;
        position: absolute;
        top: 0;
        width: 11px;
      }
    }

    &__link {
      color: inherit;
      transition: color 0.3s ease;
    }

    &:hover {
      .breadcrumbs__item__link {
        color: colors.$secondary;
        text-decoration: underline;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;

  &__container {
    border: 1px solid rgb(127 127 150 / 0.2);
    border-radius: 10px;
    padding: 14px 32px;
  }

  &__page,
  &__page_inactive {
    background-color: transparent;
    border-radius: 5px;
    color: colors.$grey-dark;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 34px;
  }

  &__page {
    transition: all 0.3s ease;

    //   @media (max-width: 767px) {
    // 	font-size: 14px;
    // 	height: 40px;
    // 	line-height: 40px;
    // 	width: 40px;
    //   }

    &_active,
    &:hover,
    &:focus {
      background-color: colors.$secondary;
      border-radius: 10px;
      color: colors.$white;
    }
  }

  .btn_more {
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;

    &_left {
      margin-right: 14px;
    }

    &_right {
      margin-left: 14px;
      transform: translateY(-50%) rotate(180deg);
    }

    //   @media (max-width: 767px) {
    // 	height: 40px;
    // 	width: 40px;
    //   }

    &:hover {
      // background-color: colors.$orange;
      color: colors.$white;
    }

    &::after {
      height: 7px;
      width: 12px;
    }
  }

  .icon {
    height: 24px;
    transform: rotate(180deg);
    width: 14px;

    use {
      fill: colors.$white;
    }
  }
}

.section {
  position: relative;

  &__title {
    color: colors.$text-main;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 60px;
    white-space: nowrap;

    &_accent {
      color: colors.$secondary;
    }
  }
}

.flex-separator {
  flex-grow: 1;
}

.scrollbar {
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-color: colors.$secondary colors.$grey-bg; // opacity 05
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    appearance: none;
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$secondary;
    border-radius: 20px;
    box-shadow: none;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: colors.$grey-bg;
    border-radius: 20px;
    opacity: 0.5;
  }
}

.simplebar-track {
  background-color: rgba(colors.$grey-bg, 0.5);
  border-radius: 20px;
  height: 10px;
  mix-blend-mode: multiply;

  &.simplebar-horizontal {
    height: 10px;

    .simplebar-scrollbar {
      height: 100%;
      top: 0;

      &::before {
        left: 0;
        right: 0;
      }
    }
  }
}

.simplebar-scrollbar {
  &.simplebar-visible {
    &::before {
      background-color: #416bc3;
      border-radius: 20px;
      opacity: 1;
    }
  }
}

.carousel {
  padding-top: 104px;
  position: relative;

  &__navigation {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__arrow {
    background-color: #dcdae6;
    height: 40px;
    position: relative;
    width: 40px;

    &::before {
      background-image: url('../img/icon-arrow_big.svg');
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      height: 9px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 14px;
    }

    &_left {
      &::before {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }
  }
}
