 <div class="animation">
    <div class="test">
        <svg viewBox="0 0 400 200">
            <path d="M0.981445 0.51709C8.53245 7.90018 16.6162 13.9882 33.2151 13.9882C48.3882 13.9882 61.4732 11.0096 74.1406 11.7056C85.3975 12.3241 95.7534 17.064 104.045 27.3612C109.637 34.3061 107 39.9798 116.076 44.0732C127.113 49.0504 133.032 43.8797 139.014 48.4012C143.383 51.7028 143.402 59.1518 155.028 60.5195C166.653 61.8872 160.827 70.5326 164.333 73.2869C167.363 75.6673 170.81 78.4607 172.406 77.7768 " fill="none"/>
        </svg>
        <div class="mover"></div>
        <div class="mover anchor"></div>
    </div>

    <aside>
        <label for="anchor-x">X</label>
        <input type="range" id="anchor-x" value="50" min="-20" max="120"/>
        <output id="output-x">50%</output>

        <label for="anchor-y">Y</label>
        <input type="range" id="anchor-y" value="50" min="-20" max="120"/>
        <output id="output-y">50%</output>
    </aside>
</div>