@use '~/styles/colors';

.career {
  &__title {
    margin-bottom: 60px;

    &_highlighted {
      padding-left: 0;
      padding-right: 12px;
    }
  }

  &__sidebar {
    background: colors.$primary;
    background-image: url('../img/art-career.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    padding: 30px 50px 26px;
    text-align: center;

    &__text {
      color: colors.$white;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    &__link {
      color: colors.$white;
      font-size: 24px;
      font-weight: 800;
      line-height: 28px;
      padding-left: 38px;
      position: relative;

      &:hover {
        color: colors.$secondary;
      }

      &::before {
        background-image: url('../img/icon-mail_white.svg');
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        height: 28px;
        left: 0;
        position: absolute;
        top: 0;
        width: 28px;
      }
    }
  }

  &__vacancies {
    margin-top: 90px;

    &__head {
      justify-content: space-between;
    }

    .simplebar-track {
      left: 0;
      margin: 0 auto;
      max-width: 1880px - (50px * 2);
      right: 0;
    }

    .carousel {
      padding: 0;
    }

    .content__subtitle {
      font-weight: 700;
      margin-bottom: 36px;
    }

    &__list {
      align-items: stretch;
      display: flex;
      margin: 0 -15px 44px;
      min-height: 213px;
    }

    &__item {
      flex-shrink: 0;
      padding: 0 15px;
      width: 25%;
    }

    &__link {
      background: #edecf2;
      border-radius: 10px;
      display: flex;
      flex-flow: column nowrap;
      height: 100%;
      justify-content: center;
      padding: 65px 50px;
      position: relative;
    }

    &__name {
      color: #141425;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.3;
      text-align: center;
    }

    &__city {
      bottom: 26px;
      color: #7f7f96;
      font-size: 16px;
      left: 0;
      line-height: 1.3;
      position: absolute;
      right: 0;
      text-align: center;
    }
  }
}
