<form class="form-contact form" action="" id="form-contact">
    <div class="form__head">
        <p class="form__head__title">Связаться с нами</p>
    </div>
    <div class="form__body">
        <label class="form__label">Введите Ваше имя
            <input class="form__input" size="40" name="name" type="text">
        </label>
        <label class="form__label">Введите Ваш номер телефона
            <input class="form__input" size="40" name="phone" type="tel" >
        </label>
        <label class="form__label">Введите Ваш E-mail
            <input class="form__input" size="40" name="email" type="email">
        </label>
    
        <label class="form__label">
            <input type="checkbox" name="titles" class="checkbox_real">
            <span class="checkbox_custom"></span>
            Заполняя поля данной формы, я соглашаюсь с Политикой конфиденциальности
        </label>
        <button type="submit" form="form-contact" class="form__btn btn btn_dark">Связаться</button>
    </div>
</form>